[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/recp/cglm.git
[submodule "dependencies/shuild"]
	path = dependencies/shuild
	url = https://github.com/omerfuyar/shuild.git
[submodule "dependencies/tecter"]
	path = dependencies/tecter
	url = https://github.com/omerfuyar/tecter.git
